In [65]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import yfinance as yf
import seaborn as sns

# Download the data

In [66]:
# Fund: Brown Advisory Small-Cap Fundamental Value Fund (BAUUX)
# S&P 500 (^GSPC)
# Russell 2000 Growth Index: ^RUO

tickers = ['BAUUX', '^GSPC', '^RUO']
start_date = '2023-11-01'
end_date = '2025-10-31'

data = yf.download(tickers, start=start_date, end=end_date)['Close']
data = data.rename(columns={"BAUUX":"BROWN", "^GSPC":"S&P500", "^RUO":"Russell"})
data.head()

C:\Users\Startklar\AppData\Local\Temp\ipykernel_27356\1074193123.py:9: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(tickers, start=start_date, end=end_date)['Close']
[*********************100%***********************]  3 of 3 completed

Ticker          BROWN       S&P500      Russell
Date
2023-11-01  17.749214  4237.859863  1055.410034
2023-11-02  18.171032  4317.779785  1076.819946
2023-11-03  18.592848  4358.339844  1106.420044
2023-11-06  18.395123  4365.979980  1093.260010
2023-11-07  18.276485  4378.379883  1096.400024

# Computations

In [67]:
#Simple Returns: = 100*(S_T / S_{T-1})
data["Brown_Simple"] = data["BROWN"].pct_change()
data["S&P_Simple"] = data["S&P500"].pct_change()
data["Russell_Simple"] = data["Russell"].pct_change()

data.head()

Ticker,BROWN,S&P500,Russell,Brown_Simple,S&P_Simple,Russell_Simple
Date,,,,,,
2023-11-01,17.749214,4237.859863,1055.410034,NaN,NaN,NaN
2023-11-02,18.171032,4317.779785,1076.819946,0.023765,0.018859,0.020286
2023-11-03,18.592848,4358.339844,1106.420044,0.023214,0.009394,0.027488
2023-11-06,18.395123,4365.979980,1093.260010,-0.010634,0.001753,-0.011894
2023-11-07,18.276485,4378.379883,1096.400024,-0.006449,0.002840,0.002872

In [68]:
data.tail()

Ticker,BROWN,S&P500,Russell,Brown_Simple,S&P_Simple,Russell_Simple
Date,,,,,,
2025-10-24,30.200001,6791.689941,1692.810059,0.005996,0.007902,0.013167
2025-10-27,30.100000,6875.160156,1703.849976,-0.003311,0.012290,0.006522
2025-10-28,29.920000,6890.890137,1694.729980,-0.005980,0.002288,-0.005353
2025-10-29,29.549999,6890.589844,1686.270020,-0.012366,-0.000044,-0.004992
2025-10-30,29.309999,6822.339844,1671.689941,-0.008122,-0.009905,-0.008646

In [69]:
y1 = data.loc["2023-11-01":"2024-10-31"].copy()
y2 = data.loc["2024-11-01":"2025-10-30"].copy()
whole = data.copy()

In [70]:
y2.head()

Ticker,BROWN,S&P500,Russell,Brown_Simple,S&P_Simple,Russell_Simple
Date,,,,,,
2024-11-01,23.982378,5728.799805,1444.640015,-0.002475,0.004093,0.011695
2024-11-04,23.967505,5712.689941,1450.619995,-0.000620,-0.002812,0.004139
2024-11-05,24.421125,5782.759766,1478.109985,0.018926,0.012266,0.018951
2024-11-06,26.109186,5929.040039,1557.699951,0.069123,0.025296,0.053846
2024-11-07,25.886097,5973.100098,1561.479980,-0.008544,0.007431,0.002427

In [71]:
cols_simple = ["Brown_Simple", "S&P_Simple", "Russell_Simple"]

## Total Returns

In [72]:
ret_simple_y1    = (1 + y1[cols_simple]).prod() - 1
ret_simple_y2    = (1 + y2[cols_simple]).prod() - 1
ret_simple_whole = (1 + whole[cols_simple]).prod() - 1

ret_simple = pd.DataFrame({ "Year 1": ret_simple_y1, "Year 2": ret_simple_y2, "Whole":  ret_simple_whole })

print(ret_simple)

                  Year 1    Year 2     Whole
Ticker
Brown_Simple    0.354532  0.219123  0.651341
S&P_Simple      0.346305  0.195758  0.609855
Russell_Simple  0.352972  0.170700  0.583925

In [73]:
ann_ret_y1 = (1 + ret_simple_y1)**((252/(len(y1)-1))) -1
ann_ret_y2 = (1 + ret_simple_y2)**((252/(len(y2)-1))) -1
ann_ret_whole = (1 + ret_simple_whole)**((252/(len(whole)-1))) -1

ann_ret_simple = pd.DataFrame({"Year 1 (Annualized)": ann_ret_y1, "Year 2 (Annualized)": ann_ret_y2, "Whole (Annualized)":  ann_ret_whole})

print(ann_ret_simple)

                Year 1 (Annualized)  Year 2 (Annualized)  Whole (Annualized)
Ticker
Brown_Simple               0.356170             0.223025            0.287626
S&P_Simple                 0.347901             0.199211            0.271219
Russell_Simple             0.354602             0.173680            0.260858

## Standard Deviation

In [74]:
std_simple_y1    = y1[cols_simple].std()
std_simple_y2    = y2[cols_simple].std()
std_simple_whole = whole[cols_simple].std()

std_simple = pd.DataFrame({ "Year 1": std_simple_y1, "Year 2": std_simple_y2, "Whole": std_simple_whole })

print(std_simple)

                  Year 1    Year 2     Whole
Ticker
Brown_Simple    0.012838  0.017152  0.015126
S&P_Simple      0.007714  0.011924  0.010026
Russell_Simple  0.013493  0.015946  0.014753

In [75]:
ann_std_y1 = std_simple_y1 * np.sqrt(252)
ann_std_y2 = std_simple_y2 * np.sqrt(252)
ann_std_whole = std_simple_whole * np.sqrt(252)

ann_std_simple = pd.DataFrame({"Whole (Annualized)": ann_std_whole})

print(ann_std_simple)

                Whole (Annualized)
Ticker
Brown_Simple              0.240125
S&P_Simple                0.159155
Russell_Simple            0.234201

## Maximum 4-Week Drawdown

In [76]:
def max_4w_drawdown(series, window=20):
    cum_4w = (1 + series).rolling(window).apply(np.prod, raw=True) - 1
    return cum_4w.min()

dd_y1    = y1[cols_simple].apply(max_4w_drawdown)
dd_y2    = y2[cols_simple].apply(max_4w_drawdown)
dd_whole = whole[cols_simple].apply(max_4w_drawdown)

dd_table = pd.DataFrame({ "Year 1": dd_y1, "Year 2": dd_y2, "Whole":  dd_whole })

print(dd_table)

                  Year 1    Year 2     Whole
Ticker
Brown_Simple   -0.061918 -0.114307 -0.114307
S&P_Simple     -0.077106 -0.120641 -0.120641
Russell_Simple -0.086255 -0.132399 -0.132399

## Sharpe Ratio

In [77]:
rf_y1 = 0.0419
rf_annual = 0.0426

sharpe_y1 = (ann_ret_y1 - rf_y1) / ann_std_y1
sharpe_y2 = (ann_ret_y2 - rf_annual) / ann_std_y2
sharpe_whole = (ann_ret_whole - rf_annual) / ann_std_whole

sharpe_table = pd.DataFrame({ "Year 1": sharpe_y1, "Year 2": sharpe_y2, "Whole":  sharpe_whole })

print(sharpe_table)

                  Year 1    Year 2     Whole
Ticker
Brown_Simple    1.542096  0.662654  1.020410
S&P_Simple      2.498895  0.827393  1.436457
Russell_Simple  1.459949  0.517813  0.931927

## Information Ratio

In [78]:
active_y1    = y1["Brown_Simple"]    - y1["Russell_Simple"]
active_y2    = y2["Brown_Simple"]    - y2["Russell_Simple"]
active_whole = whole["Brown_Simple"] - whole["Russell_Simple"]

IR_y1    = (ann_ret_y1['Brown_Simple'] - ann_ret_y1['Russell_Simple']) / (active_y1.std() * np.sqrt(252))
IR_y2    = (ann_ret_y2['Brown_Simple'] - ann_ret_y2['Russell_Simple']) / (active_y2.std() * np.sqrt(252))
IR_whole = (ann_ret_whole['Brown_Simple'] - ann_ret_whole['Russell_Simple']) / (active_whole.std() * np.sqrt(252))

ir_table = pd.DataFrame({ "Year 1":  [IR_y1], "Year 2":  [IR_y2], "Whole":   [IR_whole] })

print(ir_table)

     Year 1    Year 2     Whole
0  0.014757  0.257533  0.173133